<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scew">
  <link
    name="scew">
    <inertial>
      <origin
        xyz="-5.17104645936164E-08 4.33155131354729E-09 -0.0404733886693637"
        rpy="0 0 0" />
      <mass
        value="0.033394" />
      <inertia
        ixx="4.7143E-05"
        ixy="-3.8121E-12"
        ixz="3.3617E-11"
        iyy="4.7456E-05"
        iyz="-2.767E-12"
        izz="2.5748E-06" />
    </inertial>
    <visual>
      <origin
        xyz="-4.24029645936164E-08 3.74807131354729E-09 -0.0330277886693637"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scew/meshes/scew.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://scew/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-4.24029645936164E-08 3.74807131354729E-09 -0.0330277886693637"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scew/meshes/scew.STL" />
      </geometry>
    </collision>
  </link>
</robot>